<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- modify this form HTML and place wherever you want your form -->
<form action="https://formbold.com/s/unique_form_id" method="POST">
    <input type="email" placeholder="Email" name="email">
    <input type="text" placeholder="Subject" name="subject">
    <textarea name="message" placeholder="Type your message"></textarea>

    <!-- your other form fields go here -->
    <button type="submit">Send Message</button>
</form>

</body>
</html>